@import '../../node_modules/normalize.css/normalize';
@import 'node_modules/rayon/src/styles/rayon';
@import 'node_modules/rayon/src/styles/theme';
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Parisienne);
@import 'variables';

//Global
body {
	background: $paper;
	color: $charcoal;
	text-decoration: none;
}
button {
	background: white;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	color: $silk;
	text-shadow: .5px .5px 1px $charcoal;
	border: 3px solid $silk;
	cursor: pointer;
}
.rayon {
    border-radius: 2em;
}
.rayon footer {
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
}
.error {
	display: none;
    padding-top: .3em;
    margin: 0;
}
//Navbar
nav {
	padding: 1em;
	.logoPic {
		width: 15%;
	}
	.navLinks {
		font-size: 1.5em;
	}
	.rayon {
	    height: 22em;
	    max-width: 20em;
	    margin: 0 auto;
	    padding: 6em 11.2%;
    }
	.loginReg {
		margin: 0 auto;
	}
	.loginField {
		height: 1.8em;
		margin-bottom: 1em;
	}
	.pageLink {
		float: right;
		margin-right: 1.5em;
		margin-top: .3em;
		cursor: pointer;
		font-family: 'Lato', sans-serif;
		text-decoration: none;
		color: $charcoal;
	}
}
//Home Page
.homePage {
    display: block;
    overflow: hidden;
    padding: 7em 12em;
    background-image: url("./../images/homePage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0em 66%;
}
.homeWrapper {
	display: block;
    overflow: hidden;
    padding: 1px;
    padding-top: 0em;
    height: 15em;
    width: 47%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}
.regWrapper {
	float: left;
	.rayon {
	    width: 19em;
    	margin: 0 auto;
	}
	.regForm {
        margin: 0 auto;
    	width: 11em;
	}
	.introHeader {
		padding-top: .5em;
		padding-bottom: 0;
	}
	.modalInput {
		margin: 1em 69%;
    	width: 11em;
	}
	.modalOpenBtn {
		margin-top: 2em;
	}
}
.rsvpWrapper {
    float: right;
    .rayon {
    	min-height: 11em;
    }
    .modalInput {
		width: 14.5em;
	    height: 1.5em;
	    text-align: left;
	    position: relative;
	    right: 23%;
	}
	.verifyBtn {
	    width: 18%;
	    position: absolute;
	}
	.attTitle {
		padding-top: 0em;
	}
	.attInput {
		margin-bottom: 1.5em;
	}
}
.introHeader {
	padding-top: .5em;
	font-family: 'Lato', sans-serif;
    font-weight: 700;
}
//HomePageModals
.formPrompt {
    text-align: left;
    padding-top: 1em;
    padding-left: 8%;
    margin: 0;
}
.rayon-parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
}
.modalInput {
	width: 40%;
    height: 1.5em;
    text-align: left;
    position: relative;
    right: 8.5em;
}
.modalAccessInput {
    width: 40%;
    height: 1.5em;
    text-align: left;
    position: relative;
    right: 8.5em;
    margin-bottom: 1em;
}
.modalOpenBtn {
	display: block;
	overflow: visible;
	text-align: center;
	width: 50%;
	margin: .6em 26%;
}
.successMsg {
	padding-top: 2.7em;
    white-space: normal;
}
//Profiles Page
.attendeesWrapper {
	display: block;
	overflow: hidden;
	float: left;
	width: 65%;
}
.attHeader {
	display: block;
	overflow: visible;
	float: left;
	width: 15.5%;
	margin-left: 1em;
}
.infoEditsWrapper {
	display: block;
	overflow: hidden;
	float: right;
	margin-top: 1em;
	width: 81%;
}
.attTable {
	display: block;
	overflow: hidden;
	clear: both;
	margin: 0 3%;
}
.tblRow {
	display: block;
	overflow: visible;
	float: left;
	clear: left;
	width: 100%;
}
.tblTitle {
	text-align: center;
	font-weight: 700;
}
.tblColumn {
	display: inline-block;
	width: 20%;
	padding: .4em 0;
}
.colName {
	width: 30%;
    padding-left: 2em;
}
.nameHeader {
    padding-left: 0;
    margin-right: 4em;
    width: 25%;
}
.tblHead {
	border-top: 2px solid $charcoal;
}
.tblEntry {
	margin-bottom: .6em;
	background-color: white;
	box-shadow: 2px 2px 2px 1px rgba(42,42,42, .25);
}
.addListingBtn {
	display: block;
	overflow: hidden;
	float: left;
	margin-left: .5em;
	margin-bottom: .5em;
}
.slideshowBtn {
    display: block;
    margin: 0 auto;
    margin-top: 0.6em;
    padding: 0.6em;
    width: 28%;
    color: white;
    background: $silk;
    font-size: 1.4em;
    font-family: 'Lato', sans-serif;
    line-height: 0.7em;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 0px 5px 2px ghostwhite;
    border-radius: 1em;
}
.photoBucket {
	display: flex;
	margin: 2em;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.PhotoGrid {
    margin-bottom: 1.5em;
    padding: 1em 0;
    background: rgba(220,208,192, 0.3);
    border-radius: 0.3em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}
.photoContent {
	> img {
		height: 12em;
	    border-radius: 1em;
	    box-shadow: 0px 0px 4px;
	    margin: 0px 0.8em;
	}
	> p {
		text-align: left;
	    width: 80%;
    	margin: 0.4em auto;
	}
}
.slideshowToggleBtn {
	display: block;
    margin: 0 auto;
    width: 80%;
    border-radius: 1em;
    padding: 0.3em 0.1em;
}
.rightSide {
	overflow: hidden;
	float: right;
	width: 35%;
}
.centerAlign {
	text-align: center;
}
.placeHeader {
	margin: 0;
    padding: 0.83em 0 0.83em 0;
}
.placeBox {
	height:11em;
    width: 48%;
    overflow: hidden;
    float: left;
    margin-right: 2%;
    margin-bottom: 2em;
    box-shadow: 2px 2px 7px -2px rgba(42, 42, 42, 0.25);
}
.placeType {
	text-decoration: underline;
	margin: .3em 0 .4em .1em;
}
.placeInfo {
	display: block;
	margin: .2em;
}
.smlInfo {
	font-size: 0.85em;
}
.placeBtn {
    bottom: .2em;
    left: 0.2em;
}
.requestsWrapper {
	clear: left;
}
.songBox {
    height: 13em;
    overflow: hidden;
    width: 41%;
    float: left;
    margin: 0 auto;
    margin: 2% 4% 2% 0;
    padding: 2% 4% 2% 0;
    white-space: nowrap;
}
.songPic {
	border: 4px solid white;
    box-shadow: 2px 2px 2px 1px rgba(42, 42, 42, 0.25);
    height: 9em;
    text-align: center;
    margin: 0em;
    max-width: 85%;
}
.songInfo {
	margin: .4em 0 .3em 0;
	font-size: 0.85em;
	overflow: hidden;
    text-overflow: ellipsis;
}
.addMod {
	.modalInput {
		left: 3em;
	    width: 82%;
	    height: 1.5em;
	    text-align: left;
	    position: relative;
	    right: 8.5em;
	}
	.addedMsg {
		margin-left: 3em;
	}
	.submitAdd {
		text-decoration: none;
		color: $charcoal;
		margin-left: 2em;
	}
}
//AttendeesPage
.attLeftSide {
	display: block;
	height: 40em;
    overflow-x: hidden;
    float: left;
    width: 75%;
    background-size: 100%;
}
.greeting {
    overflow: hidden;
    box-sizing: border-box;
    top: 2em;
    text-align: center;
    padding: .1em 0.3em;
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 2em;
    box-shadow: 2px 2px 2px 1px rgba(42, 42, 42, 0.25);
}
.bioWrapper {
    padding-left: .5em;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 2px 2px 2px 1px rgba(42, 42, 42, 0.25);
    margin-bottom: 2em;
    padding-bottom: 0.5em;
    padding-top: 1em;
    margin-top: 24em;
}
.stryHeading {
	margin-top: 0;
	margin-left: 1.3em;
}
.bioBody {
	width: 80%;
    line-height: 1.5em;
    margin: 0 auto;
    margin-bottom: 1.5em;
	font-family: sans-serif;
	white-space: pre-wrap;
}
.regList {
	padding-left: 6.3em;
}
.honList {
	padding-left: 5.1em;
}
.mapDisplay {
	display: block;
	overflow: hidden;
    width: 100%;
    float: left;
    clear: left;
    margin-top: 1em;
    padding-bottom: .7em;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 2px 2px 2px 1px rgba(42, 42, 42, 0.25);
}
.mapTitle {
	margin-left: 1.3em;
}
.mapWrapper {
	display: block;
    overflow: hidden;
    margin-left: 4%;
    width: 46%;
    float: left;
    .frameWrap {
    	float: left;
	    width: 50%;
	    margin-right: 1%;
	    margin-bottom: 1em;
    }
    .hotelSite {
    	display: block;
    }
    .infoLine {
    	margin: 0;
    	padding-top: .1em;
		overflow: hidden;
		white-space: nowrap;
	    text-overflow: ellipsis;
    }
    .infoName {
    	padding-bottom: .2em;
    	font-weight: 700;
    }
}
.btmTitle {
	margin-top: .2em;
}
.attActionContainer {
	overflow: hidden;
	float: right;
	width: 25%;
	.updateRsvp {
	    padding-left: 1.5em;
    	padding-bottom: 1.5em;
	}
	.updateRsvpHeader {
		margin-top: 0; 
	}
	.songRequestBox {
		padding-left: 1.5em;
	    margin-bottom: 2em;
	    > p {
	    	margin-top: .2em;
	    }
	}
	.requestHeader {
		margin-top: 0;
		margin-bottom: .2em;
	}
	.songBox {
		height: 20em;
		clear: left;
		margin-left: 0;
		padding-left: 0;
		width: 100%;
	}
	.songPic {
		height: 14em;
	}
	.songInfo {
		margin: .4em 47% .3em 0;
	}
	.songSrchBtn {
	    display: block;
    	margin-top: 1em;
	}
	.successMsg {
		padding: 2.7em;
	}
}
//Slideshow Page
.slideshow {
	margin: 0 auto;
	padding: 40px;
	width: 55em;
	.photoContent {
		text-align: center;
		> img {
			height: 39em;
		    display: inline;
		    clear: right;
		    float: left;
		    margin-right: 17.5em;
		}
		> p {
			display: none;
		}
	}
}


























