@import '../../node_modules/normalize.css/normalize';
@import 'node_modules/rayon/src/styles/rayon';
@import 'node_modules/rayon/src/styles/theme';

.rayon-parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
}